<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#/admin/blankpage">
          <i class="bi bi-grid"></i>
          <span>Blank Page</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Main Menu</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="#/admin/transfer">
              <i class="bi bi-circle"></i>
              <span>TCC</span>
            </a>
          </li>
          </ul>
          <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li class="nav-item">
              <a class="nav-link"  href="#/admin/mufasa">
                <i class="bi bi-circle"></i>
                <span>DATA</span>
              </a>
            </li>
            </ul> -->
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="#/admin/upload">
                  <i class="bi bi-circle"></i>
                  <span>Data</span>
                </a>
              </li>
              </ul>
              <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                  <a class="nav-link"  href="#/admin/bills">
                    <i class="bi bi-circle"></i>
                    <span>List</span>
                  </a>
                </li>
                </ul> -->
      </li>
    </ul>

  </aside>