<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="#/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#/admin/createlist">
        <i class="bi bi-list"></i>
        <span>Topic</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#/admin/notify">
        <i class="bi bi-bell"></i>
        <span>Notification</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link " href="#/admin/satish">
        <i class="bi bi-bell"></i>
        <span>Notify</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Main Menu</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#/admin/class">
            <i class="bi bi-circle"></i>
            <span>Student </span>
          </a>
        </li> -->
      </ul>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/aadhar">
            <i class="bi bi-circle"></i>
            <span>Upload files</span>
          </a>
        </li>
      </ul>
      <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/bills">
            <i class="bi bi-circle"></i>
            <span>Credit Bills</span>
          </a>
        </li>
      </ul>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/dynamicform">
            <i class="bi bi-circle"></i>
            <span>Updated Forms</span>
          </a>
        </li>
      </ul> -->
      <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/notification">
            <i class="bi bi-circle"></i>
            <span>Notification</span>
          </a>
        </li>
      </ul> -->
      <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/class">
            <i class="bi bi-circle"></i>
            <span>Youtube</span>
          </a>
        </li>
      </ul> -->
      <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/eswar">
            <i class="bi bi-circle"></i>
            <span>duigh </span>
          </a>
        </li>
      </ul>  -->
       <!-- <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/createlist">
            <i class="bi bi-circle"></i>
            <span>create list </span>
          </a>
        </li>
      </ul>
       <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/admin/notify">
            <i class="bi bi-circle"></i>
            <span>notify </span>
          </a>
        </li>
      </ul>

    </li> -->
  </ul>

</aside>