<main id="main" class="main">
  <div class="pagetitle">
    <h1>Transfer Certificate</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Components</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <section class="section">
        <div class="heading">
            <h3 class="text-center">ADITYA DEGREE COLLEGE</h3>
          </div>
          
          
          <h5 style="text-align: center;"><font color="orange">[Affiliated to Adikavi Nannaya University, Rajamahendravaram]<br>
          
            College Code 004<br>
            
            No.C-II(1)/UG/NC/236/2002-2002 DT: 09/08/2001<br>
            EDRAPALLLI,AMALAPURAM, DR.BR AMBEDKAR KONASEEMA(DIST), PIN: 533201</font></h5>
            <hr>
            <h3 style="text-align: center;color:chocolate">TRANSFER CERTIFICATE</h3>
          <div class="m-4" style="display: flex;justify-content: space-between;">
              <h5 style="text-align: left;">S.No: 311/2024</h5>
              <h5 style="text-align: right;">Admin.No:2756</h5>
          </div>
          <br>
          <br>
          <form class="col-10 m-4">
            <table class="col-10 m-4">
              <tr>
                <td>1.</td>
                <td>Full Name of the Student</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="studentName" placeholder="Enter full name">
                </td>
              </tr>
              <tr>
                <td>2.</td>
                <td>Father/Guardian's Name</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="guardianName" placeholder="Enter guardian's name">
                </td>
              </tr>
              <tr>
                <td>3.</td>
                <td>Nationality & Religion</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="nationality" placeholder="Enter nationality and religion">
                </td>
              </tr>
              <tr>
                <td>4.</td>
                <td>Caste and Social Details</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="casteDetails" placeholder="Enter caste/social details">
                </td>
              </tr>
              <tr>
                <td>5.</td>
                <td>Date of Birth (in Words)</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="dateOfBirth" placeholder="Enter date of birth">
                </td>
              </tr>
              <tr>
                <td>6.</td>
                <td>Date of Admission</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="admissionDate" placeholder="Enter admission date">
                </td>
              </tr>
              <tr>
                <td>7.</td>
                <td>Languages Known</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="languagesKnown" placeholder="Enter known languages">
                </td>
              </tr>
              <tr>
                <td>8.</td>
                <td>Business Details</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="businessDetails" placeholder="Enter business details">
                </td>
              </tr>
              <tr>
                <td>9.</td>
                <td>Subjects Studied</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="subjectsStudied" placeholder="Enter subjects studied">
                </td>
              </tr>
              <tr>
                <td>10.</td>
                <td>Passed (Yes/No)</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12"  name="isPassed" placeholder="Enter yes or no">
                </td>
              </tr>
              <tr>
                <td>11.</td>
                <td>Scholarship Details</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="scholarshipDetails" placeholder="Enter scholarship details">
                </td>
              </tr>
              <tr>
                <td>12.</td>
                <td>Fee Concession</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12"  name="feeConcession" placeholder="Enter fee concession details">
                </td>
              </tr>
              <tr>
                <td>13.</td>
                <td>Date of Leaving</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="leavingDate" placeholder="Enter date of leaving">
                </td>
              </tr>
              <tr>
                <td>14.</td>
                <td>Progress and Conduct</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="progressConduct" placeholder="Enter progress and conduct">
                </td>
              </tr>
              <tr>
                <td>15.</td>
                <td>Transfer Certificate Issue Date</td>
                <td>:</td>
                <td>
                  <input type="text" class="col-12" name="tcIssueDate" placeholder="Enter TC issue date">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="text-center">
                  <button type="submit" class="btn btn-success">Save</button>
                </td>
              </tr>
            </table>
          </form>
          <div style="display: flex;justify-content: space-between;">
            <h5 style="text-align: left;">Date</h5>
            <h5 style="text-align: CENTER;">SUPERINTENDENT</h5>
            <h5 style="text-align: right;">Principal</h5>
          </div>
    </section>

  </main>