<main id="main" class="main">
  <div class="pagetitle">
    <h1>DATA-EXTRACTION</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Components</li>
        <li class="breadcrumb-item active">Blank</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="container">
      <h2 class="text-center">Student Details</h2>
      <div class="container mt-5">
        <!-- Dropdown -->
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle"  type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                select Type
            </button>
            <ul class="dropdown-menu col-5" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#/admin/aadhar">Aadhar</a></li>
                <li><a class="dropdown-item" href="#/admin/ssc">SSC</a></li>
            </ul>
        </div>
      
      </div>
      </div>
      </section>
      </main>






























































